* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #eee;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.2s;
}

.invert {
    filter: invert(100%);
    /* transition: 0.2s; */
}

.theme-icon {
    /* position: relative; */
    float: right;
    margin-right: 20px;
}

#theme-switcher {
    /* position: absolute; */
    /* margin-top: 20px;
    margin-left: 20px; */
    width: 30px;
    z-index: 10;
    pointer-events: all;
    cursor: pointer;
    transition: 0.2s;
}

.topbar {
    border-bottom: 2px solid #ccc;
    /* padding-bottom: 10px; */
    margin-bottom: 20px;
}

.logo {
    float: left;
    margin-left: 20px;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.2s;
}

.search-box-dark[type="text"] {
    background-color: #121212;
}

.search-box {
    position: relative;
    width: 40%;
    /* margin: 20px 150px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.search-box .query {
    background-color: var(--background-color);
    width: 100%;
    padding: 13px;
    border: 2px solid #ccc;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 55px;
    transition: 0.2s;
}

.search-box .query:focus {
    border: 2px solid #0b66ce;
}

.search-box .icons {
    background-color: var(--background-color);
    border: 0px;
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
    display: flex;
    /* justify-content: space-between; */
    /* padding: 10px 13px; */
    /* margin: 10px 5px; */
    margin-top: 2px;
    margin-right: 12px;
    align-items: center;
    cursor: pointer;
    /* border-radius: 0 5px 5px 0; */
    /* z-index: 10; */
    transition: 0.2s;
}

/* .topbar .sources {
    display: inline-block;
    margin-left: 200px;
}

.topbar .sources li {
    display: inline-block;
    margin-right: 20px;
}

.topbar .sources .active {
    padding-bottom: 4px;
    border-bottom: 3px solid #0047ee;
    font-weight: bold;
} */

.search-result {
    max-width: 50%;
    margin-top: 50px;
    margin-left: 150px;
}

.search-result .title {
    font-size: 17pt;
}

.search-result .title a {
    text-decoration: none;
    color: rgb(0, 100, 215);
}

.search-result .title a:visited {
    text-decoration: none;
    color: rgb(151, 12, 167);
}

.search-result .title a:hover {
    text-decoration: underline;
}

.search-result .search-engine {
    font-weight: 600;
    color: rgb(11, 147, 7);
}

.search-result .description {
    margin-top: 5px;
}

.search-box .icons img {
    max-width: 25px;
}

.pagination {
    list-style: none;
    margin-top: 50px;
    margin-left: 150px;
}

.pagination li {
    display: inline-block;
    margin-left: 5px;
  }
  
.pagination a {
    color: var(--text-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination .active-page {
    cursor: default;
    border: 2px solid #ccc;
    border-radius: 10px;
    /* color: rgb(219, 15, 15); */
}

footer {
    border-top: 2px solid #ccc;
    margin-top: 40px;
    padding-top: 80px;
}
